@layer utilities {
  {{utility.flex}} {
    display: flex;
  }

  {{utility.inlineFlex}} {
    display: inline-flex;
  }

  {{utility.itemsCenter}} {
    align-items: center;
  }

  {{utility.justifyBetween}} {
    justify-content: space-between;
  }

  {{utility.wFull}} {
    inline-size: 100%;
  }

  {{utility.flex1}} {
    flex: 1 1 0%;
    min-inline-size: 0;
  }

  {{utility.minW0}} {
    min-inline-size: 0;
  }

  {{utility.overflowAuto}} {
    overflow: auto;
  }
}
